h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 250%;
}

.logoSpin {
    animation: wobble .5s 1;
  }

#angularLogo:hover
{
    transform: rotate(180deg);
    transition: transform 1s ease-in;
}

@keyframes wobble {

    50% {
      transform: rotate(-10deg);
      animation-timing-function: linear;
    }

    100% {
    transform: rotate(0deg);
    }                
  }

#angularLogo
{
    transition: transform 1s ease-in;

}

#myContainer
{
  display: flex;
  justify-content: space-between;
}